.education {
  padding: 100px 0px;
  margin: 50px 0px;
  margin-left: 200px;
  /* background-color: rgba(128, 128, 128, 0.101); */
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  /* background: #F8FAFC; */
}

#dark .vertical-timeline::before {
  background: #f8fafc !important;
}

.education hr {
  color: #138781;
  width: 400px;
  margin: 10px auto;
}

.education h2 {
  font-weight: bold;
  color: #138781;
}

#dark .education h2 {
  color: #38bdf8;
}

.education .vertical-timeline-element-title {
  color: #138781;
}

.education .vertical-timeline-element-subtitle {
  color: #1e1e2c;
}

/* ========= DARK MODE ============ */

#dark .education {
  /* background-color: rgba(255, 255, 255, 0.12); */
  background: #1e293b;
  border: 1px solid #334155;
}
#dark .timeline-date {
  color: #ffffff;
}

#dark .education hr {
  color: #38bdf8;
}
/* ========================== */
@media (max-width: 600px) {
  .education {
    margin: 0;
    padding: 50px 0px;
    margin-top: 30px;
  }
  .education h2 {
    padding-top: 20px;
  }
  .education hr {
    width: 280px;
    margin-bottom: 10px;
  }
}
