* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contact {
  margin-left: 200px;
  margin-bottom: 60px;
  padding-top: 50px;
  overflow: hidden;
  /* overscroll-behavior: none; */
}

.card0 {
  box-shadow: 0px 4px 8px 0px #262323;
  border-radius: 0px;
  overflow: hidden;
  background: #F8FAFC;
  border: 1px solid #E2E8F0 !important;
  }

.card2 {
  margin: 0px 40px;
  background-color: #57565600;
  /* border: 2px solid red !important; */
}

.card1 .image {
  padding: 30px;
  margin-top: 5px;
  height: 100%;
  width: 90%;
  margin-left: 30px;
}
.card1 .image:hover{
  border: 2px solid #138781;
  border-radius: 5px;
}

#dark .card1 .image:hover{
  border: 2px solid rgb(0, 183, 255);
  border-radius: 5px;
}

.contact-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.border-line {
  border-right: 1px solid #e0e0e0;
  margin-top: 50px;
}
.line {
  height: 1px;
  width: 45%;
  background-color: #e0e0e0;
  margin-top: 10px;
}

.or {
  display: flex;
  width: 10%;
  font-weight: bold;
}

::placeholder {
  color: #bdbdbd;
  opacity: 1;
  font-weight: 300;
}

input,
textarea {
  padding: 10px 12px;
  border: 1px solid lightgray;
  border-radius: 2px;
  margin-top: 5px;
  margin-top: 2px;
  width: 100%;
  color: #138781;
  font-size: 1rem;
  letter-spacing: 1px;
}

input:focus,
textarea:focus {
  box-shadow: none !important;
  outline: 1px solid #138781 !important;
  outline-width: 0px;
}

textarea{
  color: #138781;
}

button:focus {
  box-shadow: none;
  outline-width: 0px;
}

.button {
  background-color: #1e1e2c;
  color: white;
  border-radius: 2px;
  margin-top: 15px;
  padding: 10px;
}

.button:hover {
  background-color: #000;
  color: white;
}

#dark .card0 {
  /* background-color: #5756569f; */
  background: #1E293B;
  border: 1px solid #334155 !important;
}
#dark .card2 {
  color: #fff;
}
#dark .github {
  color: #fff  !important;
}
#dark textarea {
  background-color: #57565608;
  border: none;
  border-bottom: 1px solid black;
  color: #38BDF8;
}
#dark input{
  background-color: #57565608;
  border: none;
  border-bottom: 1px solid black;
  color: #38BDF8;
}

#dark input:focus{
  box-shadow: none !important;
  outline: 1px solid #38BDF8 !important;
  outline-width: 0px;
  color: #38BDF8;
}

#dark textarea:focus {
  box-shadow: none !important;
  outline: 1px solid #38BDF8 !important;
  outline-width: 0px;
  color: #38BDF8;
}

#dark .button:hover {
  background-color: #000;
  color:#38BDF8;
}
@media (max-width: 600px) {
  .contact {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .contact .card2 {
    margin: 0;
  }

  .contact .card2 h6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card1 .image{
    padding: 15px;
    margin-left: 20px;
  }
}
